<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<fieldset name="MainSettings" label="Main Settings">
					
		<field name="main_currency" type="text" label="Main Currency" default="VND" />
		<field name="currency_symbol" type="text" label="Currency symbol" default="VND"/>
			 
		
		<field type="radio" name="formatHours" default="12" label="Time format" class="btn-group">
				<option value="12">12</option>
				<option value="24">24</option>
		</field>
			
		
		
		<field type="text" name="date_format_type_long" default="l d F Y" label="Date format Long" description="Long format of date, it is used in some view that need to show specific date for customer" class="btn-group" />
			
		

		<field type="list" name="date_format_short" default="Y-m-d" label="Date format Short" description="Date format of the system" class="btn-group">
			<option value="Y-m-d">Y-m-d</option>
			<option value="d-m-Y">d-m-Y</option>
			<option value="m-d-Y">m-d-Y</option>
		</field>
		
		<field name="vat" type="text" default="10" label="Vat (%)"/>
		
		<field name="captcha" type="note" label="Captcha"/>
		<field name="captcha_site_key" type="text" default="" label="Site Key" class="large-text"/>
		<field name="captcha_secret_key" type="text" default="" label="Secret Key" class="large-text"/>
		
		<field name="email" type="text" default="" label="Email" class=""/>
		<field name="phone" type="text" default="" label="Phone" class=""/>
		<field name="address" type="text" default="" label="Address" class=""/>
		
		<field name="facebook_app_id" type="text" default="" label="Facebook app id" class="large-text"/>

	</fieldset>
	
	<fieldset name="Display" label="Display">
		<field type="radio" name="show_seats_available" default="1" label="Show Seats available" class="btn-group">
				<option value="0">No</option>
				<option value="1">Yes</option>
		</field>
		
				
		<field type="list" name="currency_display" label="Display money"
			default="0">
			<option value="0">5$</option>
			<option value="1">5 $</option>
			<option value="2">$5</option>
			<option value="3">$ 5</option>
		</field>
		
		<field name="currency_seperator" type="text" label="Currency seperator"/>
		
		<field name="currency_decimalpoint" type="text" label="Decimal point" default="2"/>
		
		<field type="note" label="Pages" />
		<field name="register_trial"  type="page"  label="Trial Register page" description="Register to register trail"/>
		<field name="register"  type="page"  label="Register page" description="Register to register new order"/>
		
		<field name="term_content_id"  type="page"  label="Term and condition document"/>
		
		<field name="page_login"  type="page"  label="Login page"/>
		<field name="page_register"  type="page"  label="Sign in page"/>
	</fieldset>
	
	<fieldset name="application" label="Application">
		<field type="radio" name="app_smtp_mail" default="0" label="Using Smtp mail" class="btn-group">
				<option value="0">No</option>
				<option value="1">Yes</option>
		</field>
		<field type="radio" name="app_vn_wc" default="0" label="VietNam woocommerce" class="btn-group">
				<option value="0">No</option>
				<option value="1">Yes</option>
		</field>
		<field type="radio" name="app_estate" default="0" label="Estate" class="btn-group">
				<option value="0">No</option>
				<option value="1">Yes</option>
		</field>
		<field name="sms" type="note" label="SMS Clickatell https://www.clickatell.com/"/>
		<field name="clickatell_username" type="text" label="Username"/>
		<field name="clickatell_password" type="text" label="Password"/>
		<field name="clickatell_api_id" type="text" label="Api_id"/>
		<field name="clickatell_country_code" type="text" default="84" label="Country code"/>
		<field name="clickatell_from_number" type="text" default="" label="From Number"/>
		<field type="radio" name="comment_facebook" default="0" label="Facebook comment" class="btn-group">
				<option value="0">No</option>
				<option value="1">Yes</option>
		</field>
	</fieldset>
	
	

<fieldset name="Invoice" label="Company">
	
		<field name="company_name" type="text" label="Company name" />
		<field name="company_address" type="text" label="Company address" />
		<field name="company_phone" type="text" label="Phone" default="support team"/>
		
		<field name="invoice_header" type="textarea" rows="8"  label="Invoice header"
			description="Header of invoice" />
		<field name="invoice_footer" type="textarea" rows="8" label="Invoice footer"
			description="Footer of invoice" />
	</fieldset>
		
</config>